<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
    crossorigin="anonymous">
    <style>
      .card-img-top{
        height:200px;
      }
      a:hover{
        color:black;
      }
    </style>
</head>
<body class="md-5" style="background-color: #242038;">
    <h3  class="col-md-4" mystyle=" text-align: center; color:#CAC4CE"> Gallery </h3>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="background-color: #F7ECE1">
                    <div class="card-header">
                      Categories
                    </div>
                    
                    <ul class="list-group list-group-flush" >
                      <li class="list-group-item" style="background-color:#CAC4CE">
                        <a style="text-decoration:none; color:black;" href="{% url 'gallery' %}">All</a>
                      </li>
                      {% for category in categories %}
                      <li class="list-group-item" style="background-color:#CAC4CE">
                        <a  style="text-decoration:none;color:black;" href="{% url 'gallery' %}?category={{category.name}}">{{category.name}}</li></a>
                    {% endfor %}
                      
            
                        <a href="{% url 'addPhoto' %}" class="btn btn-dark btn-sm m-1">
                          + Add Photo  
                        </a>
        
                    </ul>
                  </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for photo in photos %}
                    <div class="col-md-4" >
                        <div class="card my-2" style="background-color:#CAC4CE">
                            <img src="{{photo.image.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <p>Category: {{photo.category.name}}</p>
                              <div class="text-center">
                                <a href="{% url 'photo' photo.id  %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                              </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <h3> No photo in here :/ </h3>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>